# Ignore build outputs
EmployeeManagement/bin/
EmployeeManagement/obj/

# Ignore logs
EmployeeManagement/Logs/

# Ignore user-specific files
*.user
*.suo
*.vs/

# Ignore git and IDE files
.git/
.vscode/
*.md

# Ignore wwwroot directory
/EmployeeManagement/wwwroot/

# Ignore Logs directory
/EmployeeManagement/Logs/

# Ignore Migrations folder
/EmployeeManagement/Migrations/