# Ignore Logs folder
/EmployeeManagement/Logs/
# Ignore temporary files
*.tmp
# Ignore build directories
/EmployeeManagement/bin/
/EmployeeManagement/obj/
# Ignore wwwroot directory
/EmployeeManagement/wwwroot/
# ignore MyApp.Tests output
/MyApp.Tests/bin/
/MyApp.Tests/obj/
# Ignore .env files
.env
# Ignore Migrations folder
/EmployeeManagement/Migrations/

